// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app-url{
    font-family: 'Inconsolata', monospace;

    .app-title {
        font-weight: bold;
        text-shadow: 0 2px 2px #ddd;
        word-wrap: break-word;
    }

}
